@font-face {
    font-family: '04B_30__';
    src: url('fonts/04B_30__.ttf') format('truetype');
}

@font-face {
    font-family: 'Dogica';
    src: url('fonts/dogica.ttf') format('truetype');
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* ou outra cor */
    z-index: 9999;
    transition: opacity 0.5s ease;
}

#pageTitle {
    font-size: 30px;
    font-family: '04B_30__', sans-serif;
    text-shadow: 
        2px 2px 0 white, /* Sombra direita */
        -2px -2px 0 white, /* Sombra esquerda */
        2px -2px 0 white, /* Sombra acima */
        -2px 2px 0 white;
    color: black;
    text-decoration: none;
    transition: color 0.1s ease;
}

#pageTitle:hover {
    color: #ebba34;
}

#pageTitle:visited:hover {
    color: #ebba34;
}

#pageTitle:visited {
    color: black;
}

#pageSubtitle {
    font-family: 'Dogica', sans-serif;
    font-size: 12px;
    text-align: center;
}

header {
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
}

html, body {
    height: 100%; /* Garante que o corpo ocupe 100% da altura da janela */
    margin: 0;
    padding: 0;
  }

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #7ccaf7 70%, #80ac73 30%);
    min-height: 100vh;
}

main {
    box-shadow: inset 0 20px 0 0 #7ccaf7;
    background-image: url('assets/skyBackgroundImage.png');
    background-size: 100% auto; 
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%; /* Preenche a largura da tela */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo horizontalmente, se houver */
    margin: 0;
    padding: 0; /* Remove qualquer padding interno */
}

.content {
    display: flex;
}

.spacer {
    flex-grow: 1;
}

.asideBox {
    margin: 15px;
    width: 15%; 
    height: 100%; 
}

#midColumn {
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8); /* Cor branca com 80% de transparência */
    backdrop-filter: blur(10px); /* Aplica um desfoque ao fundo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#pnrInput {
    font-size: medium;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    font-size: medium;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td {
    background-color: white;
}

th {
    background-color: black;
    color: white;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*text-align: justify;*/
}

.customButton {
    font-weight: bold;
    font-size: medium;
    background-color: black; /* Cor de fundo */
    border: none;
    color: white;
    padding: 5px 20px; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
    transition: border 0.1s ease;
}

.rightButton:hover {
    border-left: 5px solid #7ccaf7;
}

.rightButton:active {
    border-left: 5px solid #80ac73;
}

.leftButton:hover {
    border-right: 5px solid #7ccaf7;
}

.leftButton:active {
    border-right: 5px solid #80ac73;
}

#sendButton {
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}

footer p {
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-size: small;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    text-align:left;
    font-size: medium;
    bottom: 0;
    width: 100%;
    background-color: #80ac73;
    position: top;
  }
  
  #footer-column-with-text {
    width: 300px;
  }

  .footer-column {
    width: 200px;
  }
  
  .footer-column h3 {
    color: white;
    margin-bottom: 10px;
  }
  
  .footer-column a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: inherit;
    color: #B0E46A;
    transition: color 0.1s ease-in;
  }
  
  .footer-column a:hover {
    color: #3c632f; 
  }
  
  .footer-column p {
    margin-bottom: 10px;
  }

  #honeypot {
    display: none;
  }
