@font-face {
    font-family: '04B_30__';
    src: url('fonts/04B_30__.ttf') format('truetype');
}

@font-face {
    font-family: 'Dogica';
    src: url('fonts/dogica.ttf') format('truetype');
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10001;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ebba34;
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#cookie-window {
    display: flex; 
    gap: 30px; 
    flex-direction: row; 
    background-color: rgba(255, 255, 255, 0.8);
    padding:20px;
    border-radius:10px;
    max-width:500px;
    width:90%;
    box-shadow:0 4px 12px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#cookie-banner {
        display: none; 
        z-index: 10000; 
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.5);
        backdrop-filter: blur(1px); 
        -webkit-backdrop-filter: blur(1px);
        padding:15px;
        align-items:center;
        justify-content:center;
        font-family:sans-serif;
        margin: 0px;
        width: 100%;
        margin-left: -15px;
    }

#cookie-image {
    width:150px;
    height:150px;
}

#cookie-title {
    margin-top:0;
    margin-bottom:15px;
    color:#333;
    font-family: 'Dogica', sans-serif;text-align: center;
}

#cookie-text {
    margin:10;
    font-size:14px;
    color:#333;
}

#pageTitle {
    font-size: 30px;
    font-family: '04B_30__', sans-serif;
    text-shadow:
        2px 2px 0 white,
        /* Sombra direita */
        -2px -2px 0 white,
        /* Sombra esquerda */
        2px -2px 0 white,
        /* Sombra acima */
        -2px 2px 0 white;
    color: black;
    text-decoration: none;
    transition: color 0.1s ease;
}

#pageTitle:hover {
    color: #ebba34;
}

#pageTitle:visited:hover {
    color: #ebba34;
}

#pageTitle:visited {
    color: black;
}

#pageSubtitle {
    font-family: 'Dogica', sans-serif;
    font-size: 12px;
    text-align: center;
}

header {
    text-align: center;
    margin: 30px;
    margin-bottom: 0px;
}

html,
body {
    height: 100%;
    /* Garante que o corpo ocupe 100% da altura da janela */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: #7ccaf7;
    min-height: 100vh;
}

main {
    box-shadow: inset 0 20px 0 0 #7ccaf7;
    background-image: url('assets/skyBackgroundImage.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    /* Preenche a largura da tela */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    /* Centraliza o conteúdo horizontalmente, se houver */
    margin: 0;
    padding: 0;
    /* Remove qualquer padding interno */
}

.content {
    display: flex;
    align-items: flex-start;
    /* alinha as colunas no topo */
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
    /* espaço entre colunas */
    min-height: 300px;
    /* altura mínima da área principal */
}

#midColumn {
    width: 70%;
    border-radius: 10px;
    padding: 30px;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    /* Cor branca com 80% de transparência */
    backdrop-filter: blur(10px);
    /* Aplica um desfoque ao fundo */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.asideBox {
    min-width: 10%;
    margin-top: 15px;
}

#adsContainer {
    min-height: 90px;
    padding-left: 15%;
    padding-right: 15%;
}

#pnrInput {
    font-size: medium;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    font-size: medium;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

td {
    background-color: white;
}

th {
    background-color: black;
    color: white;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*text-align: justify;*/
}

#indexButtonSpacer {
    display: none;
}

.customButton {
    font-weight: bold;
    font-size: medium;
    background-color: black;
    /* Cor de fundo */
    border: none;
    color: white;
    padding: 5px 20px;
    /* Espaçamento interno do botão */
    cursor: pointer;
    /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s;
    /* Transição suave na cor de fundo */
    transition: border 0.1s ease;
}

.rightButton:hover {
    border-left: 5px solid #7ccaf7;
}

.rightButton:active {
    border-left: 5px solid #80ac73;
}

.leftButton:hover {
    border-right: 5px solid #7ccaf7;
}

.leftButton:active {
    border-right: 5px solid #80ac73;
}

#sendButton {
    margin-top: 20px;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
}

footer p {
    margin-top: 0;
    padding-top: 0;
    color: black;
    font-size: small;
    text-align: left;
}

footer {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
    padding: 0 0 20px 0;
    text-align: left;
    font-size: medium;
    bottom: 0;
    width: 100%;
    background-color: #80ac73;
    position: top;
}

#footer-column-with-text {
    width: 300px;
}

.footer-column {
    width: 200px;
}

.footer-column h3 {
    color: white;
    margin-bottom: 10px;
}

.footer-column a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: inherit;
    color: #B0E46A;
    transition: color 0.1s ease-in;
}

.footer-column a:hover {
    color: #3c632f;
}

.footer-column p {
    margin-bottom: 10px;
}

#honeypot {
    display: none;
}

#contactContainer {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}

@media (max-width: 600px) {

    #cookie-banner {
        margin: 0px;
        width: 100%;
        margin-left: -15px;
    }

    #cookie-window {
    gap: 30px; 
    flex-direction: column; 
    align-items: center;
    padding:15px;
    border-radius:0px;
    width:100%;
    }

    #cookie-image {
        width: 100px;
        height: 100px;
    }

    #cookie-title {
        font-size: small;
        background-color: black;
        color: white;
    }

    #cookie-text {
        font-size: small;
    }

    .asideBox {
        display: none;
    }

    .content {
        margin-left: 0px;
        gap: 0px;
    }

    #midColumn {
        width: 100%;
        min-height: 300px;
        border-radius: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 0px;
        margin-left: 0px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #adsContainer {
        padding-left: 0%;
        padding-right: 0%;
    }

    body {
        font-size: 100%;
    }

    #pageSubtitle {
        font-size: 9px;
    }

    table,
    th,
    td,
    p,
    li,
    h4,
    a,
    #pnrInput {
        font-size: small;
    }

    .customButton {
        font-size: small;
    }

    h2 {
        font-size: medium;
        text-align: center;
    }

    h3 {
        font-size: medium;
    }

    #indexButtonSpacer {
        display: block;
    }

    #divideButton {
        display: none;
    }

    #homeButton {
        margin: 0 auto !important;
    }

    .contactHomeButton {
        position: absolute;
        right: 0px;
    }

    #contactContainer {
        position: relative;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        width: 100%;
    }

    #footer-column-with-text {
        width: 90%;
    }

    .footer-column {
        width: 90%;
    }

}